Repository cognitedata/cognite-sdk-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

make single ms_to_datetime impl. work on all OSs. remove removed warnings from filterwarnings
  cognite/client/utils/_time.py
  pytest.ini
Owners: @cognitedata/starbase

Move extraction pipeline configs from experimental SDK
  cognite/client/_api/extractionpipelines.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/extractionpipelines.py
  tests/tests_unit/test_api/test_extractionpipelines.py
Owners: @cognitedata/starbase

Update docs and changelog
  CHANGELOG.md
  cognite/client/_version.py
  docs/source/cognite.rst
  pyproject.toml
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

Add print to debug
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/utils/_auxiliary.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Owners: @cognitedata/starbase, @cognitedata/data-integration

Remove prints
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/schedules.py
  cognite/client/utils/_auxiliary.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Owners: @cognitedata/starbase, @cognitedata/data-integration

Remove wrong line
  cognite/client/data_classes/_base.py
Owners: @cognitedata/starbase

Bump the version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

Annotation filter is not optional (#1058)
  cognite/client/_api/annotations.py
Owners: @cognitedata/starbase

Fix decoding error when printing transformation (#1060)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/schedules.py
  pyproject.toml
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

Apply suggestions from code review
  cognite/client/data_classes/extractionpipelines.py
Owners: @cognitedata/starbase

Move configs into .config
  cognite/client/_api/extractionpipelines.py
  cognite/client/_cognite_client.py
  tests/tests_unit/test_api/test_extractionpipelines.py
Owners: @cognitedata/starbase

Update docs
  docs/source/cognite.rst
Owners: @cognitedata/starbase

Correctly set API_VERSION
  cognite/client/_cognite_client.py
Owners: @cognitedata/starbase

init
  cognite/client/_api/entity_matching.py
Owners: @cognitedata/starbase

Deprecate extraction_pipeline_runs
  CHANGELOG.md
  cognite/client/_api/extractionpipelines.py
  cognite/client/_cognite_client.py
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

Update date in changelog
  CHANGELOG.md
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

Move extraction pipeline configs from experimental SDK (#1057)
  CHANGELOG.md
  cognite/client/_api/extractionpipelines.py
  cognite/client/_cognite_client.py
  cognite/client/_version.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/extractionpipelines.py
  docs/source/cognite.rst
  pyproject.toml
  tests/tests_unit/test_api/test_extractionpipelines.py
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

rename type alias DatapointsTypes to DatapointValue
  cognite/client/_api/datapoint_tasks.py
  cognite/client/data_classes/datapoints.py
Owners: @cognitedata/starbase

remove deprecated pandas method df.iteritems
  cognite/client/_api/datapoints.py
Owners: @cognitedata/starbase

Allow single aggregate to be passed as string. Add/update tests and changelog
  CHANGELOG.md
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

upd changelog with removal of CogniteDuplicateColumnsError
  CHANGELOG.md
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

Fix sortedcontainer test. Problem was hash collisions in dict keys aka I'm stupid
  tests/tests_unit/test_api/test_datapoints_tasks.py
Owners: @cognitedata/starbase

Fix dps tests and random flaky time test
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_utils/test_time.py
Owners: @cognitedata/starbase

Completely remove DatapointsAPI.query. Allow individual specifications of ignore_unknown_ids. Amend tests
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Owners: @cognitedata/starbase

run poetry update and try to fix mypy CI failure with cache folder
  .github/workflows/build.yml
  .github/workflows/release.yaml
  poetry.lock
Owners: @cognitedata/starbase

fix DeprecationWarning at client/_api_client.py:59
  cognite/client/_api_client.py
Owners: @cognitedata/starbase

Update test_ms_to_datetime. Remove failing time-now reliant tests in TestSingleTSQueryValidator
  cognite/client/utils/_time.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_utils/test_time.py
Owners: @cognitedata/starbase

Remove rest of query. Remove rest of query tests
  CHANGELOG.md
  tests/tests_unit/test_api/test_datapoints.py
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

Fix all mypy issues (I hope)
  cognite/client/_api/datapoint_tasks.py
  cognite/client/data_classes/datapoints.py
  cognite/client/exceptions.py
  cognite/client/utils/_auxiliary.py
Owners: @cognitedata/starbase

Remove CogniteDuplicateColumnsError and test with it
  cognite/client/exceptions.py
  docs/source/cognite.rst
  tests/tests_unit/test_api/test_datapoints.py
Owners: @cognitedata/starbase

actually fix docs and deprecate link to cognite-python-docs
  cognite/client/_api/datapoints.py
  docs/source/cognite.rst
  docs/source/index.rst
Owners: @cognitedata/starbase

doc fix 9000
  cognite/client/utils/__init__.py
Owners: @cognitedata/starbase

Update docs with retrieve_arrays and rm query
  docs/source/cognite.rst
Owners: @cognitedata/starbase

Remove datapoint_constants. Make DatapointsQuery private. Rename type aliases
  cognite/client/_api/datapoint_constants.py
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/_constants.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/utils.py
Owners: @cognitedata/starbase

fix doctests
  cognite/client/_api/datapoints.py
Owners: @cognitedata/starbase

fix merge conflict leftover, missing import and add new filterwarning
  cognite/client/data_classes/time_series.py
  pytest.ini
Owners: @cognitedata/starbase

Add typing.overload to all retrieve methods. Remove other overloaded fns.
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/data_classes/datapoints.py
Owners: @cognitedata/starbase

Update docstr examples to show passing single aggregate as string
  cognite/client/_api/datapoints.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
Owners: @cognitedata/starbase

Add overload to __getitem__ of Datapoints(Array)
  cognite/client/data_classes/datapoints.py
Owners: @cognitedata/starbase

Improve docs and update changelog
  CHANGELOG.md
  cognite/client/_api/datapoints.py
Owners: @cognitedata/starbase, @cognitedata/geospatial, @cognitedata/data-integration

.github/CODEOWNERS:

* @cognitedata/starbase
geospatial.py @cognitedata/starbase @cognitedata/geospatial
test_geospatial.py @cognitedata/starbase @cognitedata/geospatial
transformations/ @cognitedata/starbase @cognitedata/data-integration
test_transformations/ @cognitedata/starbase @cognitedata/data-integration
CHANGELOG.md @cognitedata/starbase @cognitedata/geospatial @cognitedata/data-integration
_version.py @cognitedata/starbase @cognitedata/geospatial @cognitedata/data-integration
pyproject.toml @cognitedata/starbase @cognitedata/geospatial @cognitedata/data-integration
